CServicio21/App_WebReferences/Serviciousuario/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54768/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54768/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54768/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_ValidarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarUsuario" />
  </wsdl:message>
  <wsdl:message name="IService_ValidarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService_BuscarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarUsuario" />
  </wsdl:message>
  <wsdl:message name="IService_BuscarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CalificarArtista_InputMessage">
    <wsdl:part name="parameters" element="tns:CalificarArtista" />
  </wsdl:message>
  <wsdl:message name="IService_CalificarArtista_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalificarArtistaResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CalificarDisco_InputMessage">
    <wsdl:part name="parameters" element="tns:CalificarDisco" />
  </wsdl:message>
  <wsdl:message name="IService_CalificarDisco_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalificarDiscoResponse" />
  </wsdl:message>
  <wsdl:message name="IService_BuscarCalArt_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCalArt" />
  </wsdl:message>
  <wsdl:message name="IService_BuscarCalArt_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCalArtResponse" />
  </wsdl:message>
  <wsdl:message name="IService_BuscarCalDis_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCalDis" />
  </wsdl:message>
  <wsdl:message name="IService_BuscarCalDis_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCalDisResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AcCalifArtista_InputMessage">
    <wsdl:part name="parameters" element="tns:AcCalifArtista" />
  </wsdl:message>
  <wsdl:message name="IService_AcCalifArtista_OutputMessage">
    <wsdl:part name="parameters" element="tns:AcCalifArtistaResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AcCalifDisco_InputMessage">
    <wsdl:part name="parameters" element="tns:AcCalifDisco" />
  </wsdl:message>
  <wsdl:message name="IService_AcCalifDisco_OutputMessage">
    <wsdl:part name="parameters" element="tns:AcCalifDiscoResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AcArtista_InputMessage">
    <wsdl:part name="parameters" element="tns:AcArtista" />
  </wsdl:message>
  <wsdl:message name="IService_AcArtista_OutputMessage">
    <wsdl:part name="parameters" element="tns:AcArtistaResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AcDisco_InputMessage">
    <wsdl:part name="parameters" element="tns:AcDisco" />
  </wsdl:message>
  <wsdl:message name="IService_AcDisco_OutputMessage">
    <wsdl:part name="parameters" element="tns:AcDiscoResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="ValidarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ValidarUsuario" message="tns:IService_ValidarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ValidarUsuarioResponse" message="tns:IService_ValidarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/BuscarUsuario" message="tns:IService_BuscarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/BuscarUsuarioResponse" message="tns:IService_BuscarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalificarArtista">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CalificarArtista" message="tns:IService_CalificarArtista_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CalificarArtistaResponse" message="tns:IService_CalificarArtista_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalificarDisco">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CalificarDisco" message="tns:IService_CalificarDisco_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CalificarDiscoResponse" message="tns:IService_CalificarDisco_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarCalArt">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/BuscarCalArt" message="tns:IService_BuscarCalArt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/BuscarCalArtResponse" message="tns:IService_BuscarCalArt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarCalDis">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/BuscarCalDis" message="tns:IService_BuscarCalDis_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/BuscarCalDisResponse" message="tns:IService_BuscarCalDis_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AcCalifArtista">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AcCalifArtista" message="tns:IService_AcCalifArtista_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AcCalifArtistaResponse" message="tns:IService_AcCalifArtista_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AcCalifDisco">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AcCalifDisco" message="tns:IService_AcCalifDisco_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AcCalifDiscoResponse" message="tns:IService_AcCalifDisco_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AcArtista">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AcArtista" message="tns:IService_AcArtista_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AcArtistaResponse" message="tns:IService_AcArtista_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AcDisco">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AcDisco" message="tns:IService_AcDisco_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AcDiscoResponse" message="tns:IService_AcDisco_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidarUsuario">
      <soap:operation soapAction="http://tempuri.org/IService/ValidarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarUsuario">
      <soap:operation soapAction="http://tempuri.org/IService/BuscarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalificarArtista">
      <soap:operation soapAction="http://tempuri.org/IService/CalificarArtista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalificarDisco">
      <soap:operation soapAction="http://tempuri.org/IService/CalificarDisco" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarCalArt">
      <soap:operation soapAction="http://tempuri.org/IService/BuscarCalArt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarCalDis">
      <soap:operation soapAction="http://tempuri.org/IService/BuscarCalDis" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AcCalifArtista">
      <soap:operation soapAction="http://tempuri.org/IService/AcCalifArtista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AcCalifDisco">
      <soap:operation soapAction="http://tempuri.org/IService/AcCalifDisco" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AcArtista">
      <soap:operation soapAction="http://tempuri.org/IService/AcArtista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AcDisco">
      <soap:operation soapAction="http://tempuri.org/IService/AcDisco" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:54768/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>