CServicio21/App_WebReferences/Servicioprincipal/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49669/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="ListarArt">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarArtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ListarArtResult" nillable="true" type="q1:ArrayOfArtista" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarDisco">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarDiscoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ListarDiscoResult" nillable="true" type="q2:ArrayOfDisco" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idD" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ListarCanResult" nillable="true" type="q3:ArrayOfCancion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarArt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idD" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarArtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="BuscarArtResult" nillable="true" type="q4:Artista" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarDisco">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idD" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarDiscoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="BuscarDiscoResult" nillable="true" type="q5:Disco" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCancion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idC" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCancionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="BuscarCancionResult" nillable="true" type="q6:Cancion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarDiscoArt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idA" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarDiscoArtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="BuscarDiscoArtResult" nillable="true" type="q7:ArrayOfDisco" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BusquedaDis">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="disco" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BusquedaDisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="BusquedaDisResult" nillable="true" type="q8:ArrayOfDisco" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BusquedaArt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="artista" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BusquedaArtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="BusquedaArtResult" nillable="true" type="q9:ArrayOfArtista" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarArt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idA" type="xs:int" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apellido" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Nartis" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nacion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarArtResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarDis">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idC" type="xs:int" />
        <xs:element minOccurs="0" name="nombreD" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="anio" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarDisResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarCan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idC" type="xs:int" />
        <xs:element minOccurs="0" name="nombreD" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarCanResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>