CServicio21/App_WebReferences/Servicioprincipal/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfArtista">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Artista" nillable="true" type="tns:Artista" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArtista" nillable="true" type="tns:ArrayOfArtista" />
  <xs:complexType name="Artista">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idArtista" type="xs:int" />
      <xs:element minOccurs="0" name="nacionalidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombreArtistico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="puntuacion" type="xs:int" />
      <xs:element minOccurs="0" name="sumatoria" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Artista" nillable="true" type="tns:Artista" />
  <xs:complexType name="ArrayOfDisco">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Disco" nillable="true" type="tns:Disco" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDisco" nillable="true" type="tns:ArrayOfDisco" />
  <xs:complexType name="Disco">
    <xs:sequence>
      <xs:element minOccurs="0" name="anoPublicacion" type="xs:int" />
      <xs:element minOccurs="0" name="idArtista" type="xs:int" />
      <xs:element minOccurs="0" name="idDisco" type="xs:int" />
      <xs:element minOccurs="0" name="nombreDisco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="puntuacion" type="xs:int" />
      <xs:element minOccurs="0" name="sumatoria" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Disco" nillable="true" type="tns:Disco" />
  <xs:complexType name="ArrayOfCancion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cancion" nillable="true" type="tns:Cancion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCancion" nillable="true" type="tns:ArrayOfCancion" />
  <xs:complexType name="Cancion">
    <xs:sequence>
      <xs:element minOccurs="0" name="idCancion" type="xs:int" />
      <xs:element minOccurs="0" name="idDisco" type="xs:int" />
      <xs:element minOccurs="0" name="nombreCancion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cancion" nillable="true" type="tns:Cancion" />
</xs:schema>